.App {
  text-align: center;
}
*{
  text-decoration: none;
}
body{
  background-color: #e75349;
}

.logoWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
.logoWrapper img{
  width: 30%;
  height: 20%;
   margin: 30px 
}
.work{
  width: 40%;
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 30px;
  font-size: small;
  font-weight: 800;
  
}
input,p{
  font-family: FontAwesome;
}

  
  .log{
    height: 40px;
  }
  
.activeBtn{
  background-color: #e75349;
  border: none;
  outline: none;
  padding: 5px 15px;
  border-radius: 5px;
  color: #fff;
}



